	.navigation-main {
	width: 100vw;
	height: max-content;
	padding: 9px 0px;
	background-color: #218eff;
	color: #fff;
	display: flex;
}


.search-box {
	display: flex;
	align-items: center;
}



.form-search-box{
	display: flex;
	width: 100%;
	margin: 0px;
}

.search-box-input {
	border-radius: 5px 0px 0px 5px;
	border: 0px;
	font-size: 0.8rem;
}

.btn-search {
	background-color: #ffc107;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
	/*height: 33px;*/

}

.search-icon{
	margin: 3px 12px;
}


.hotline-acount-cart-box {
	height: 100%;
	display: flex;
	padding: 0px;
}

	.hotline-box {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 0.9rem;
		margin-right:  15px;

	}

		.hotline {
			font-weight: 600;
			margin-bottom: 0px;
		}
	.account-cart-box{
		display: flex;
	}

.khach-si-box {
	font-weight: 600;
	margin: 0px;
}

.khach-si{
	font-size: 0.8rem;
	font-weight: normal;
	margin: 0px;
}

.account-box {
    height: 100%;
    display: flex;
    align-items: center;

    font-size: 0.9rem;

    /* flex: 0 0 12.666667%;
    max-width: 12.666667%; */
     /*padding: 0px; */

    position: relative;

}


.account-box-content{
    height: 130%;
    /* align-content: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 99;
}





.cart-box {
	height: 100%;
	display: flex;
	align-items: center; 
	padding: 0px 5px 0px 15px;
	position: relative;
}


.sign-box{
	/*display: block;*/
	display: none;
	/* flex-direction: column; */
	position: absolute;
	left: -10px;
	bottom: -75px;
	width: max-content;
	background-color: #fff;
	border-radius: 10px;
    padding: 0px;
    list-style-type: none;
    z-index: 99;
}

.badge-cart {
	position: absolute;
    top: 8px;
    right: -13px;
    font-size: 0.7rem;
}



.sign-box li {
	margin: 5px 15px;
}
	.sign-box li a:hover {
		text-decoration: none !important;
		color: #007bff !important;
	}


/* chinh sach */

.chinh-sach {
	position: relative;
}

.chinh-sach-box {
    position: absolute;
    bottom: -80px;
    left: -27px;
    list-style-type: none;
    padding: 6px 15px;
    width: max-content;
    border-radius: 11px;
    background-color: #fff;
    display: none;
    z-index: 99;
}


.chinh-sach-box a {
	color: black;
}

.chinh-sach-box a:hover {
	color: #007bff !important;
	text-decoration: none;
}

.chinh-sach-content {
	height: 150%;
    display: flex;
    align-items: center;
    z-index: 1;
}

/*huong dan
*/

.huong-dan {
	position: relative;
}
.huong-dan-box {
    position: absolute;
    bottom: -60px;
    left: -27px;
    list-style-type: none;
    padding: 6px 15px;
    width: max-content;
    border-radius: 11px;
    background-color: #fff;
    display: none;
    z-index: 99;
}


.huong-dan-box a {
	color: black;
}

.huong-dan-box a:hover {
	color: #007bff !important;
	text-decoration: none;
}

.huong-dan-content {
	height: 150%;
    display: flex;
    align-items: center;
    z-index: 98;
}

/*sản phẩm*/

.san-pham {
	position: relative;
}

.san-pham-content {
	height: 150%;
	display: flex;
	align-items: center;
    z-index: 99;
}


.san-pham-box {
	position: absolute;
    bottom: -370px;
    left: -19vw;
    list-style-type: none;
    padding: 6px 15px;
    border-radius: 11px;
    background-color: #fff;
    /*height: 350px;
    width: 51vw;*/
    height: max-content;
    width: max-content;

    display: none;
    z-index: 99;
}

.san-pham-box a:hover {
	color: #189eff;
	text-decoration: none;
}

.san-pham-top {
	display: flex;
	/*justify-content: space-evenly;*/
	margin-top: .5rem;
}
.san-pham-top ul {
	margin: 0px 1rem;
}

.san-pham-bottom{
	display: flex;
	/*justify-content: space-evenly;*/
	margin-top: 1.3rem;
	margin-bottom: 1rem;
}

.san-pham-bottom ul {
	margin: 0px 1rem;
}


.san-pham-title{
	font-size: .8rem;
	font-weight: bold;
	color: #189eff;
	margin-bottom: 4px;
}

.show-all {
	float: right;
    font-size: .8rem;
    margin-top: 5px;
    color: black;
}

.link-product-and-brand{
	text-decoration: none !important;
	color: #222;
}



/* responsive wed */

@media only screen and (max-width: 1000px){
	.hotline-acount-cart-box{
		flex-direction: column;
	}
	.account-cart-box{
		margin-top: 2px;
	}
	.sign-box{
		bottom: -82px;
	}
	/* class "navigate-next" in header.css */
	.navigate-next {
		display: none !important;
	}
}